* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    float: left;
}

body{
    font-family: 'Poppins-Regular';

}

ul,
ol {
    list-style-type: none;
}

a{
    text-decoration: none;
}